<div class="container">
  <h4>Turnos Paciente</h4>
  <p class="lead">En esta sección podrás observar tus turnos</p>
  <div class="mb-3" *ngIf="this.pacientUpdated.turnos && this.pacientUpdated.turnos.length > 0">
    <label for="filtroEspecialista" class="form-label lead">Filtrar por Especialista:</label>
    <select id="filtroEspecialista" class="form-select" (change)="onFilterSpecialistChange()" [(ngModel)]="this.specialist" [ngModelOptions]="{standalone:true} ">
      <option [defaultSelected]="" (click)="onClearFilter()">TODOS</option>
    <option *ngFor="let item of this.specialists" [value]="item.docRefEspecialista">{{item.nombre!.toUpperCase()}} - {{item.apellido!.toUpperCase()}}</option>
    </select>
    <div class="mb-3 mt-3" *ngIf="this.selectedSpecialist">
      <button class="btn btn-outline-secondary" (click)="onExportToPdf()">Exportar turnos PDF</button>
      <button class="btn btn-outline-danger mx-1" (click)="onClearFilter()">Borrar Filtros</button>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-hover" id="tableToPrint" *ngIf="this.pacientUpdated.turnos && this.pacientUpdated.turnos.length > 0">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Especialidad</th>
          <th>Tipo</th>
          <th colspan="2">Acción</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="this.selectedSpecialist">
          <tr *ngFor="let item of this.pacientUpdated.turnos! | filterShiftBySpecialist: this.selectedSpecialist!.docRefEspecialista!">
            <td>{{item.fechaTurno! |  formatDate : "yyyy-MM-dd h:mm a"}}</td>
            <td>{{this.returnNameShiftState(item.estado!)}}</td>
            <td>{{item.especialidad!.toUpperCase()}}</td>
            <td>{{this.returnNameOfTypeShift(item.tipo!)}}</td>
          <td colspan="2" *ngIf="item.estado ===1 || item.estado === 2 ">
            <div class="button-container">
                  <input type="text" class="form-control" aria-label="" placeholder="escribe la razón por la cual cancelas el turno" aria-describedby="button-addon2" *ngIf="displayInput && item.idTurnoDocRef === selectedShift!.idTurnoDocRef" [(ngModel)]="resenia" [ngModelOptions]="{standalone:true}">
                  <button class="btn btn-outline-danger mt-1" (click)="onCancelShift(item)">Cancelar</button>
                  <button class="btn btn-outline-success mt-1" *ngIf="displayInput && item.idTurnoDocRef === selectedShift!.idTurnoDocRef" (click)="onConfirmCancelShift(item)">Confirmar</button>
            </div>
          </td>
          <td colspan="2">
            <div class="button-container">
                  <button class="btn btn-outline-secondary mt-1" (click)="onReviewShift(item)" *ngIf="item.estado ===4 ">Ver razón</button>
                  <button class="btn btn-outline-secondary mt-1" *ngIf="item.estado ===5 " disabled>Acción no disponinble</button>
            </div>
          </td>
        </tr>
      </ng-container>
        <ng-container *ngIf="!this.selectedSpecialist">
          <tr *ngFor="let item of this.pacientUpdated.turnos!">
            <td>{{item.fechaTurno! |  formatDate : "yyyy-MM-dd h:mm a"}}</td>
            <td>{{this.returnNameShiftState(item.estado!)}}</td>
            <td>{{item.especialidad!.toUpperCase()}}</td>
            <td>{{this.returnNameOfTypeShift(item.tipo!)}}</td>
          <td colspan="2" *ngIf="item.estado ===1 || item.estado === 2 ">
            <div class="button-container">
                  <input type="text" class="form-control" aria-label="" placeholder="escribe la razón por la cual cancelas el turno" aria-describedby="button-addon2" *ngIf="displayInput && item.idTurnoDocRef === selectedShift!.idTurnoDocRef" [(ngModel)]="resenia" [ngModelOptions]="{standalone:true}">
                  <button class="btn btn-outline-danger mt-1" (click)="onCancelShift(item)">Cancelar</button>
                  <button class="btn btn-outline-success mt-1" *ngIf="displayInput && item.idTurnoDocRef === selectedShift!.idTurnoDocRef" (click)="onConfirmCancelShift(item)">Confirmar</button>
            </div>
          </td>
          <td colspan="2">
            <div class="button-container">
                  <button class="btn btn-outline-secondary mt-1" (click)="onReviewShift(item)" *ngIf="item.estado ===4 ">Ver razón</button>
                  <button class="btn btn-outline-secondary mt-1" *ngIf="item.estado ===5 " disabled>Acción no disponinble</button>
            </div>
          </td>
        </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="alert alert-warning" role="alert" *ngIf="!this.pacientUpdated.turnos || this.pacientUpdated.turnos.length === 0">
      <p class="lead text-warning" >Todavía no has tomando ningún turno.</p>
    </div>
  </div>
</div>
