.lblTitulo{
  font-size: 15px;
  margin-bottom: 10px;
}

.lblMsgError{
  color: #e64c4c !important;
  font-size: 15px;
}

.form-group{
  margin-bottom: 15px;
  width: 100%;
}

.form-control{
  background-color: #dddddd;
  border: 2px solid transparent;
  height: 35px;
  color: #000000;
}

label{
  color: #000000 !important;
}

.form-control :focus {
  background-color: rgb(168, 168, 168);
}

.btnContainer{
  height: 40px;
  width: 15px;
  font-size: 15px;
  margin-top: 50px;
}

.addSpeciality{
  margin-top: 10px;
}

.btn-outline-secondary{
  color: #43b88f;
  background-color: transparent;
  border-color: #43b88f;
}


.btn-outline-secondary:hover{
  color: #fff;
  background-color: #43b88f;
  border-color: #43b88f;
}


.scrollable-col {
  overflow-y: auto;
  max-height: 89vh;
}

.scrollable-col::-webkit-scrollbar {
  width: 8px;
}

.scrollable-col::-webkit-scrollbar-track {
  background: #cacaca;
}

.scrollable-col::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollable-col::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.containerOptions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Ajusta la altura según tus necesidades */
}

.containerOptions .row {
  flex-direction: column;
}

.containerOptions .col {
  display: flex;
  justify-content: center;
}

.btnOptions{
  width: 150px;
}

.captchaContainer{
  margin-top: 20px;
}
