<div class="container">
  <h4>Mis Pacientes</h4>
  <p class="lead">
    Aquí podrás ver todos tus pacientes y en caso de necesitarlo cargar su
    historia clínica
  </p>
  <button routerLink="/especialista/pacientes/resenia" class="btn btn-outline-secondary" *ngIf="this._pacientList && this._pacientList.length > 0">Ver Resenias</button>
    <div class="table-container">
  <table class="table table-hover" *ngIf="this._pacientList && this._pacientList.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Mail</th>
        <th>Especialidad</th>
        <th colspan="2">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this._pacientList">
          <td>{{item.nombre!.toUpperCase()}}</td>
          <td>{{item.apellido!.toUpperCase()}}</td>
          <td>{{item.mail!.toUpperCase()}}</td>
        <td colspan="2">
          DOCTOR
        </td>
        <td colspan="2">
          <div class="button-container">
            <button class="btn btn-outline-secondary" *ngIf="!item.historiaClinica" (click)="openGenerateClinicHistory(item!)">Agregar Historia Clinica</button>
            <button class="btn btn-outline-secondary" *ngIf="item.historiaClinica" (click)="openViewClinicHistory(item.historiaClinica!)">Ver Historia Clinica</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning" role="alert" *ngIf="!this._pacientList || this._pacientList.length === 0">
    <p class="lead text-warning" >Todavía no tienes pacientes.</p>
  </div>
</div>
</div>

