<div class="container mt-5">
  <div class="jumbotron">
    <h1 appHover="Clínica Online">Bienvenid@ Usuario</h1>
    <p class="lead">Laboratorio de computación IV</p>
    <hr>
  </div>
  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="jumbotron">
        <h2 class="">Quién sos? </h2>
        <hr>
          <p class="lead">Acciones para usuarios</p>
            <ul>
              <li><a routerLink="/usuario/login">Iniciar Sesión</a></li>
              <li><a routerLink="/usuario/register">Registrarse</a></li>
            </ul>
      </div>
    </div>
    <div class="col-sm-4 scrollable-col">
      <div class="jumbotron">
        <h2>Sobre la clínica</h2>
        <hr>
        <p class="lead">Aquí encontrarás información sobre la clínica.</p>
        <ul>
          <li>Proximamente...</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
        <h2>Materia</h2>
        <hr>
        <p class="lead">La materia para cual se desarrolló este plataforma es Laboratorio de computación IV a cargo de los <b>Profesores</b>:</p>
        <ul>
          <li><a href="https://github.com/flippiJS" target="_blank">Franco Lippi</a></li>
          <li><a href="https://github.com/mrampi" target="_blank">Mario Rampi</a></li>
          <li><a href="https://github.com/amorelli-utnfra" target="_blank">Augusto Morelli</a></li>
          <li><a href="https://github.com/AgustinFrich" target="_blank">Agustín Friadenrich</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

