.rowUserActions{
  margin-top: 50px;
  padding: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
}


li {
  color: #000;
  margin-bottom: 5px;
}

a {
  outline: none;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: #43b88f;
  transform: scale(1.1);
}
