.rowUserActions{
  margin-top: 50px;
  padding: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
}


li {
  color: #000;
  margin-bottom: 5px;
}

a {
  outline: none;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: #43b88f;
  transform: scale(1.1);
}

.flip-scale-up-hor {
	animation: flip-scale-up-hor 0.5s linear both;
}

@keyframes flip-scale-up-hor {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    transform: scale(1) rotateX(0);
  }
}
