<router-outlet></router-outlet>
<div class="container">
  <div class="mb-3">
    <button class="btn btn-outline-secondary" routerLink="/usuario/admin/add">Agregar Adminsitrador</button>
  </div>
  <div class="row">
    <div class="col table-container">
      <h4>Especialistas</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Estado</th>
            <th>Perfil</th>
            <th>Mail</th>
            <th colspan="2">Acción</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let item of this.listadoUsuario | especialistaPendiente">
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.dni}}</td>
                <td>{{item.estado}}</td>
                <td><a href="{{item.imagenPerfil1}}" target="_blank" rel="noopener noreferrer">Ver Foto</a></td>
                <td>{{item.mail}}</td>
                <td colspan="2">
                  <div class="button-container">
                    <button class="btn btn-outline-success" (click)="allowUser(item)">✅</button>
                    <button class="btn btn-outline-danger" (click)="denyAccess(item)">❌</button>
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col table-container">
      <h4>Pacientes</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Estado</th>
            <th>Perfil</th>
            <th>Mail</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.listadoUsuario | pacientePendiente">
            <th>{{item.nombre}}</th>
            <th>{{item.apellido}}</th>
            <th>{{item.dni}}</th>
            <th>{{item.estado}}</th>
            <th><a href="{{item.imagenPerfil1}}" target="_blank" rel="noopener noreferrer">Ver Foto</a></th>
            <th>{{item.mail}}</th>
            <th>
              <div class="button-container">
                <button class="btn btn-outline-success" (click)="allowUser(item)" disabled>✅</button>
                <button class="btn btn-outline-danger" (click)="denyAccess(item)" disabled>❌</button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

